@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body {

	background: #dddddd;
	padding: 60px 0 0 0;

}

h1, h2, h3, h4, h5 {

	font-family: 'Anton', sans-serif;

}

h1 {

	font-size: 4em;

}

a {

	color: #3ba30d;
	transition: all 0.3s;

}

a:hover, a:focus {

	color: #262626;
	text-decoration: none;

}